# Covid-19 Statistics Aachen: Datenaufbereitung

Die rohen Fallzahlen werden zunächst aus dem im ersten Schritt erzeugten Excel-Sheet eingelesen und dann aufbereitet. Anschließend wird eine Reihe von Kennwerten berechnet. Die Ergebnisse werden in eine zweite Excel-Datei exportiert; die zwischengespeicherten Daten werden im folgenden Schritt zur Erstellung von Diagrammen verwendet.

## Benötigte Imports und Initialisierungen

In [4]:
import pandas as pd
import numpy as np

import configparser

# Konfiguration einlesen
config = configparser.ConfigParser()
config.read('config.ini')

['config.ini']

## Einlesen der Excel-Datei und Anzeige der Daten der letzten 14 Tage
- Datei: Siehe `config.ini`
- Seite: Siehe `config.ini`
- Einzulesende Spalten: 
  - **A**: Datum im Format 'DD.MM.'
  - **B**: Akkumulierte Anzahl der Infektionen für gesamte Städteregion (inkl. Aachen) als Integerzahl
  - **D**: Akkumulierte Anzahl der Infektionen für die Stadt Aachen als Integerzahl
  - **F**: Akkumulierte Anzahl der Todesfälle durch Covid-19 für gesamte Städteregion (inkl. Aachen) als Integerzahl 
  - **G**: Akkumulierte Anzahl der Genesenen für gesamte Städteregion (inkl. Aachen) als Integerzahl
- Spaltentypen: Spalte A als Datum interpretieren
- Die ersten beiden Zeilen (Header) überspringen
- Label der Spalten explizit setzen

In [5]:
c19_cases = pd.read_excel(config['Rohdaten']['FileName'], 
                          sheet_name=config['Rohdaten']['SheetName'],
                          usecols='A,C,D,E,F,G', 
                          index_col=0,
                          parse_dates=[0],
                          skiprows=[1],
                          names=['Summe', 'Summe Aachen', 'Summe Todesfälle', 'Summe genesen', 'Akute Fälle' ])

c19_cases

            Summe  Summe Aachen  Summe Todesfälle  Summe genesen  Akute Fälle
Datum
2020-03-09     58            20               NaN            NaN           58
2020-03-10     61            21               NaN            6.0           55
2020-03-11     63            22               NaN            NaN           63
2020-03-12     70            25               NaN            NaN           70
2020-03-13     85            34               NaN           27.0           58
2020-03-14    100            40               NaN           28.0           72
2020-03-15    155            75               NaN            NaN          155
2020-03-16    169            85               NaN           33.0          136
2020-03-17    211           100               2.0            NaN          209
2020-03-18    273           130               4.0            NaN          269
2020-03-19    334           161               4.0            NaN          330
2020-03-20    405           192               5.0            NaN          400
2020-03-21    443           209               5.0            NaN          438
2020-03-22    516           246               5.0            NaN          511
2020-03-23    530           249               6.0            NaN          524
2020-03-24    540           261               7.0            NaN          533
2020-03-25    618           315               8.0            NaN          610
2020-03-26    694           354               9.0            NaN          685
2020-03-27    746           376              14.0            NaN          732
2020-03-28    787           399              14.0            NaN          773
2020-03-29    824           407              14.0            NaN          810
2020-03-30    863           429              14.0            NaN          849
2020-03-31    920           463              15.0          322.0          583
2020-04-01    980           495              16.0          364.0          600
2020-04-02   1081           555              21.0          435.0          625
2020-04-03   1155           602              21.0          494.0          640
2020-04-04   1213           633              27.0          560.0          626
2020-04-05   1259           651              27.0          578.0          654
2020-04-06   1272           658              27.0          595.0          650
2020-04-07   1295           674              35.0          662.0          598
...           ...           ...               ...            ...          ...
2020-05-26   1960           971              91.0         1839.0           30
2020-05-27   1962           973              92.0         1846.0           24
2020-05-28   1964           975              92.0         1849.0           23
2020-05-29   1967           978              93.0         1850.0           24
2020-06-02   1971           982              93.0         1856.0           22
2020-06-03   1972           983              94.0         1858.0           20
2020-06-04   1975           983              94.0         1859.0           22
2020-06-05   1976           983              94.0         1859.0           23
2020-06-08   1979           982              94.0         1862.0           23
2020-06-09   1979           982              94.0         1863.0           22
2020-06-10   1980           983              95.0         1865.0           20
2020-06-12   1982           984              95.0         1869.0           18
2020-06-15   1982           984              95.0         1871.0           16
2020-06-17   1985           985              95.0         1871.0           19
2020-06-19   1991           988              97.0         1873.0           21
2020-06-22   1994           989              97.0         1875.0           22
2020-06-24   1997           992              98.0         1876.0           23
2020-06-26   1999           994              98.0         1880.0           21
2020-06-29   2001           996              98.0         1883.0           20
2020-07-01   2004           998              98.0         1890.0           16
2020-07-03   2009           999              98.0         1898.0           13
2020-07-06   2010           999              98.0         1900.0           12
2020-07-08   2010           999              99.0         1900.0           11
2020-07-10   2011           999             100.0         1908.0            3
2020-07-13   2021          1002             100.0         1908.0           13
2020-07-15   2025          1004             100.0         1909.0           16
2020-07-17   2030          1007             100.0         1917.0           13
2020-07-20   2037          1008             100.0         1917.0           20
2020-07-22   2044          1010             100.0         1920.0           24
2020-07-24   2058          1014             100.0         1922.0           36

[99 rows x 5 columns]

## Behandlung fehlender Werte
### Spalte 'Summe Todesfälle'
Am 17.03.2020 wurde das erste Mal in der offiziellen Verlautbarung ein Todesfall erwähnt; für alle Tage vorher wird dieser Spaltenwert zu Null angenommen. Wenn an einem Tag nach dem 17.03. kein Todesfall in der Meldung verzeichnet ist, wird dieser Spaltenwert jeweils fortgeschrieben mit dem letzten offiziell gemeldeten; dadurch kann es zu Sprüngen in der Statistik kommen.
### Spalte 'Summe genesen'
Das erste Mal wurde in der offiziellen Verlautbarung am 10.03.2020 die Zahl der wieder Genesenen erwähnt, bis zum 31.03. erfolgten nur einzelne Meldungen zu sog. "Freitestungen". Erst danach wird die Zahl der Genesenen regelmäßig in den Meldungen der Krisenstäbe erwähnt. Für alle Tage, für die keine Meldung existiert, wird dieser Spaltenwert jeweils fortgeschrieben mit dem letzten offiziell gemeldeten; dadurch kann es zu Sprüngen in der Statistik kommen.
### Hinzufügen von Tagen, für die keine Fallzahlen vorliegen
Ab dem 01.05.2020 sind die Krisenstäbe von Städteregion und der Stadt Aachen dazu übergegangen, neue Fallzahlen nur noch an normalen Wochentagen zu veröffentlichen; ab Juni wurden nur noch 3x pro Woche die Fallzahlen bekannt gegeben. Damit enthalten die aus dem Excelsheet eingelesenen Zeitreihen tageweise Lücken, insbesondere für die Wochenenden. Diese werden in diesem Schritt aufgefüllt, um die Berechnung gleitender Mittelwerte und Summen später zu vereinfachen.

In [6]:
# Zunächst alle Werte für Tage, an denen sie nicht in der Meldung aufgeführt sind, mit dem jeweils letzten bekannten
# Wert fortschreiben. Das ist möglich, weil alle in Frage kommenden Spalten kumulierte oder fortlaufende Werte enthalten. 
c19_cases = c19_cases.fillna(method='ffill')

# Im zweiten Schritt nun alle verbleibende Werte mit 0 füllen. Das trifft für alle Tage zu, bevor ein Wert das 
# erste Mal in einer Meldung enthalten war.
c19_cases = c19_cases.fillna(0)

# Hinzufügen von Tagen, für die keine Fallzahlen vorliegen:
#   Dataframe neu indizieren
#   Fehlende Spaltenwerte auffüllen, indem die jeweils letzten Werte fortgeschrieben werden
#   FIX: Vorher prüfen, ob Index richtig sortiert?
c19_cases = c19_cases.reindex(pd.date_range(c19_cases.index[0], c19_cases.index[-1]), method='bfill')

## Korrektur der Spaltenformate
Die Fallzahlen wurden wegen fehlender Werte teilweise als Fließkommazahlen (NaN erfordert ein Float zu Darstellung) importiert, es handelt sich aber in allen Spalten um Ganzzahlen.

In [7]:
# Explizite Umwandlung aller Spalten (außer Index) nach Integer
c19_cases = c19_cases.astype('int32')
c19_cases

            Summe  Summe Aachen  Summe Todesfälle  Summe genesen  Akute Fälle
2020-03-09     58            20                 0              0           58
2020-03-10     61            21                 0              6           55
2020-03-11     63            22                 0              6           63
2020-03-12     70            25                 0              6           70
2020-03-13     85            34                 0             27           58
2020-03-14    100            40                 0             28           72
2020-03-15    155            75                 0             28          155
2020-03-16    169            85                 0             33          136
2020-03-17    211           100                 2             33          209
2020-03-18    273           130                 4             33          269
2020-03-19    334           161                 4             33          330
2020-03-20    405           192                 5             33          400
2020-03-21    443           209                 5             33          438
2020-03-22    516           246                 5             33          511
2020-03-23    530           249                 6             33          524
2020-03-24    540           261                 7             33          533
2020-03-25    618           315                 8             33          610
2020-03-26    694           354                 9             33          685
2020-03-27    746           376                14             33          732
2020-03-28    787           399                14             33          773
2020-03-29    824           407                14             33          810
2020-03-30    863           429                14             33          849
2020-03-31    920           463                15            322          583
2020-04-01    980           495                16            364          600
2020-04-02   1081           555                21            435          625
2020-04-03   1155           602                21            494          640
2020-04-04   1213           633                27            560          626
2020-04-05   1259           651                27            578          654
2020-04-06   1272           658                27            595          650
2020-04-07   1295           674                35            662          598
...           ...           ...               ...            ...          ...
2020-06-25   1999           994                98           1880           21
2020-06-26   1999           994                98           1880           21
2020-06-27   2001           996                98           1883           20
2020-06-28   2001           996                98           1883           20
2020-06-29   2001           996                98           1883           20
2020-06-30   2004           998                98           1890           16
2020-07-01   2004           998                98           1890           16
2020-07-02   2009           999                98           1898           13
2020-07-03   2009           999                98           1898           13
2020-07-04   2010           999                98           1900           12
2020-07-05   2010           999                98           1900           12
2020-07-06   2010           999                98           1900           12
2020-07-07   2010           999                99           1900           11
2020-07-08   2010           999                99           1900           11
2020-07-09   2011           999               100           1908            3
2020-07-10   2011           999               100           1908            3
2020-07-11   2021          1002               100           1908           13
2020-07-12   2021          1002               100           1908           13
2020-07-13   2021          1002               100           1908           13
2020-07-14   2025          1004               100           1909           16
2020-07-15   2025          1004               100           1909           16
2020-07-16   2030          1007               100           1917           13
2020-07-17   2030          1007               100           1917           13
2020-07-18   2037          1008               100           1917           20
2020-07-19   2037          1008               100           1917           20
2020-07-20   2037          1008               100           1917           20
2020-07-21   2044          1010               100           1920           24
2020-07-22   2044          1010               100           1920           24
2020-07-23   2058          1014               100           1922           36
2020-07-24   2058          1014               100           1922           36

[138 rows x 5 columns]

## Berechnung zusätzlicher Spalten

- Fälle in der Städteregion (ohne Aachen) berechnen
- Aktive Fälle (für die Städteregion) berechnen
- Prozentuales Wachstum (oder Rückgang) der aktiven Fälle (für die Städteregion) berechnen
- Gleitendes Mittel (7 Tage) des prozentualem Wachstums (oder Rückgangs) der aktiven Fälle 
  (für die Städteregion) berechnen
- Summen der Fälle bezogen auf 100.000 Einwohner berechnen
- Anzahl der Neuinfektionen pro Tag (für Stadt Aachen und Städteregion) berechnen
- Summe der Neuinfektionen der letzten 7 Tage pro 100.000 Einwohner (für Stadt Aachen und Städteregion) berechnen

In [8]:
# Einwohnerzahlen, Stand 31.12.2018
Einwohner_StädteRegion = 555465
Einwohner_StadtAachen = 247380

def change_per_cent(x):
    """Evaluates and returns the change of the active cases per day.

    Für Berechnung der prozentualen Änderung der aktiven Fälle pro Tag per apply():
    Berechnet die Differenz zwischen dem ersten und letzten Wert des als Array übergebenem 'Rolling Window' 
    und dividiert dann durch den ersten Wert.
    """
    if x.size == 1:
        return 0
    else:
        return (x[-1] - x[0]) / x[0] * 100

def diff(x):
    """Für Berechnung von neuen Infektionen / Genesenen / Todesfällen pro Tag per apply():
    Berechnet die Differenz zwischen dem ersten und letzten Wert des als Array übergebenem 'Rolling Window'
    """
    if x.size == 1:
        return 0
    else:
        return (x[-1] - x[0])

# Fälle in der Städteregion ohne Aachen
c19_cases['Summe StädteRegion'] = c19_cases['Summe'] - c19_cases['Summe Aachen']

# Aktive Fälle
c19_cases['Änderung Akute Fälle [%]'] = c19_cases['Akute Fälle'].rolling(2, min_periods=1).apply(change_per_cent, raw=True)
c19_cases['Änderung Akute Fälle (geglättet) [%]'] = c19_cases['Änderung Akute Fälle [%]'].rolling(7).mean()

# Neuinfektionen
c19_cases['Neuinfektionen'] = c19_cases['Summe'].rolling(2, min_periods=1).apply(diff, raw=True).astype('int32')
c19_cases['Neuinfektionen Aachen'] = c19_cases['Summe Aachen'].rolling(2, min_periods=1).apply(diff, raw=True).astype('int32')
# Neue Todesfälle
c19_cases['Neue Todesfälle'] = c19_cases['Summe Todesfälle'].rolling(2, min_periods=1).apply(diff, raw=True).astype('int32')
# Neue Genesene
c19_cases['Neue Genesene'] = c19_cases['Summe genesen'].rolling(2, min_periods=1).apply(diff, raw=True).astype('int32')

# Geglättete Werte (über 7 Tage gemittelt)
c19_cases['Neuinfektionen (geglättet)'] = c19_cases['Neuinfektionen'].rolling(7).mean()
c19_cases['Neue Todesfälle (geglättet)'] = c19_cases['Neue Todesfälle'].rolling(7).mean()
c19_cases['Neue Genesene (geglättet)'] = c19_cases['Neue Genesene'].rolling(7).mean()

# Fälle pro 100.000 Einwohner
c19_cases['Summe pro 100000'] = c19_cases['Summe'] / Einwohner_StädteRegion * 100000
c19_cases['Summe Aachen pro 100000'] = c19_cases['Summe Aachen'] / Einwohner_StadtAachen * 100000
c19_cases['Neuinfektionen 7T/100000 Aachen'] = c19_cases['Neuinfektionen Aachen'].rolling(7).sum() / Einwohner_StadtAachen * 100000
c19_cases['Neuinfektionen 7T/100000'] = c19_cases['Neuinfektionen'].rolling(7).sum() / Einwohner_StädteRegion * 100000

# Zwischenergebnis in Excel-Datei speichern

In [9]:
c19_cases.to_excel(config['Kennzahlen']['FileName'], 
                   sheet_name=config['Kennzahlen']['SheetName'],
                   index_label='Datum')